<launch>
  <arg name="bag_file"/>
	<arg name="track_anew" default="true"/>
	<node name="replay" pkg="rosbag" type="play" args="-l --clock $(find swarmlab_tracking)/bags/$(arg bag_file)_video.bag" if="$(arg track_anew)"/>
	<node name="replay" pkg="rosbag" type="play" args="-l --clock $(find swarmlab_tracking)/bags/$(arg bag_file)_tracks.bag" unless="$(arg track_anew)/>
	<include file="$(find swarmlab_tracking)/launch/track.launch" unless="$(arg track_anew)"/>
</launch>
