<launch>
	<arg name="bag_file"/>
	<arg name="record_both" default="true"/>
	<include file="$(find swarmlab_tracking)/launch/track_cam.launch" if="$(arg record_both)"/>
	<include file="$(find swarmlab_tracking)/launch/cam.launch" unless="$(arg record_both)"/>
	<node name="record" pkg="rosbag" type="record" args="--split --size=16000 --chunksize=4096 /camera/image -O $(find swarmlab_tracking)/bags/$(arg bag_file)_cam.bag" unless="$(arg record_both)"/>
	<node name="record" pkg="rosbag" type="record" args="--split --size=16000 --chunksize=4096 /camera/image /camera/markers /copters/0/marker /copters/0/pose -O $(find swarmlab_tracking)/bags/$(arg bag_file).bag" if="$(arg record_both)"/>
</launch>
