<launch>
	<group ns="/camera">
		<!--node pkg="image_transport" type="republish" name="transport" args="theora in:=/camera/image raw out:=/camera/image_raw"/-->
		<node name="Preprocess" type="image_proc" pkg="image_proc">
			<remap from="image_raw" to="image"/>
		</node>
    <node name="tf_stupidity_fix" type="static_transform_publisher" pkg="tf" args="0 0 0 0 0 0 map tf_is_stupid 100"/>
		<node name="Tracking" type="ir-track_new.py" pkg="tracking" args="--nodisplay">
			<param name="homography_file" value="$(find swarmlab_tracking)/common/arena_new.npy" type="str" />
			<param name="verbose" value="true"/>
			<param name="debug_window" value="false"/>
			<param name="expected_leds" value="3"/>
      <param name="roi_size" value="35"/>
      <param name="treshold" value="16"/>
			<remap to="image_mono" from="image"/>
		</node>
	</group>
	<node name="PoseEstimator" type="CopterPose.py" pkg="swarmlab_tracking" ns="/copters/0">
		<remap from="markers" to="/camera/markers"/>
	</node>
</launch>
